.app-container {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  max-height: 100vh;
  margin: auto auto;
  gap: .5rem;
  position: relative;

  @media (min-width: 1280px) {
    max-height: 800px;
  }
}